*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #363636;
    color: gold;
    font-family: arial;
}

input[type=text]{
    display: block;
    height: 55px;
    width: 200px;
    margin: 100px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    padding: 10px 20px;
    color: white;
}

input[type=submit]{
    background-color: #FFD700;
    color: black;
    
}


div#corpo-form{
    /*background-color: red;*/
    width: 420px;
    margin: 50px auto 0px auto;
}

div#corpo-form h1{
    text-align: center;
    text-decoration: none;
}

#lista ul { list-style: none; }

#lista li {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0 0;
    padding: 20px;
    position: relative;
    width: 300px;
}

#lista li img{
    position: absolute;
    left: 0;
    top: 5px;
}

.select-project-ul {
    list-style: none;
}

.select-project-li {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0 0;
    padding: 20px;
    width: 300px;
}
