*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #363636;
    color: #0089ec;
    font-family: arial;
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: white;

}

input[type=submit]{
    background-color: #0089ec;
    color: black;
}

div#corpo-form{
    /*background-color: red;*/
    width: 420px;
    margin: 150px auto 0px auto;
}

div#corpo-form h1{
    text-align: center;
    text-decoration: none;
}

#principal li {
   display:inline;
   float:left;
} 

#principal li {
   display:inline;
   float:left;
   width:220px;
   background-color:#f5f7f9;
   padding:5px;
   margin:10px;
   text-align: center;
   border-right: #a5a7aa solid 1px;
   border-bottom: #a5a7aa solid 1px;
} 

h3{
    color: #0089ec;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table{
    border-collapse: separate;
    border-spacing: 2px;
}

.msg-error{
    width: 420px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165, 42, 42);
}