
.row,
.col {
  margin: 0px;
  padding: 0px;
}


.scrollToTop {
  width: 60px;
  height: 60px;
  text-align: center;
  background: rgba(230, 128, 34, .75);
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  z-index: 9999;
  line-height: 60px;
  border-radius: 2px;
}

.scrollToTop:hover {
  text-decoration: none;
  background: rgba(230, 128, 34, 1);
  transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -khtml-transition: .3s
}

.scrollToTop i {
  font-size: 48px;
}

@media screen and (max-width: 600px) {
  .logo {
    background: #f9b32f;
    width: 65px;
    height: 65px;
    line-height: 103px;
  }
  .logo img {
    width: 85%;
    margin-left: 3px;
  }
  .nav-wrapper {
    background: url('public/img/topo_menu.jpg');
    background-size: contain;
    z-index: 9999;
  }
  .nav-wrapper ul {
    background: #f2f2f2;
  }
  .nav-wrapper ul li {
    border-bottom: 1px solid #ddd;
  }
  .nav-wrapper ul li:hover {
    background: rgba(249, 179, 47, 1);
  }
  .nav-wrapper ul li a {
    color: #454545;
  }
  .nav-wrapper ul li a:hover {
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .nav-wrapper .socialicons {
    float: left;
    line-height: 95px;
    margin-left: 20px;
  }
  .nav-wrapper .socialicons a {
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  .nav-wrapper .socialicons a img {
    width: 36px;
    margin: 0 5px;
    padding: 0px;
  }
  .nav-wrapper .button-collapse {
    color: #454545;
    float: right;
  }
  .nav-wrapper .button-collapse:hover {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .nav-wrapper .button-collapse i span {
    color: #454545;
    font-size: 14px;
    font-family: roboto;
    position: relative;
    top: -10px;
    left: -5px;
  }
  .nav-wrapper .button-collapse:hover i span {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .slides {
    position: relative;
    top: -8px;
  }
  .slides img {
    width: 100%;
  }
  .fundo1 {
    background: url('public/img/fundo1.jpg') center;
    background-size: cover;
    height: 100px;
  }
  .fundo2 {
    background: url('public/img/GREENBELT.jpg') center;
    background-size: cover;
    height: 100px;
  }
  .fundo3 {
    background: url('public/img/fundo2.jpg') center;
    background-size: cover;
    height: 100px;
  }
  .msproject {
    background: url('public/img/project.jpg') center;
    background-size: cover;
    height: 100px;
  }
  .tcursos {
    background: url('public/img/cursos.jpg') center;
    background-size: cover;
    height: 100px;
  }
  #sobre {
    background: url('public/img/sobre.jpg') center;
    background-size: cover;
    margin-top: -30px;
  }
  .sobre {
    margin: 0 auto;
    padding: 100px 0 80px 0;
    text-align: center;
  }
  .sobre img {
    width: 200px;
    margin-bottom: 50px;
  }
  .sobre h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .sobre p {
    text-align: center;
  }
  .sobre a .botao {
    background: #f9b32f;
    text-align: center;
    width: 200px;
    padding: 10px;
    color: #FFF;
    font-weight: 900;
    font-size: 18px;
    margin: 20px auto;
  }
  .sobre a .botao:hover {
    background: #f39c11;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #noticias {
    padding: 50px 0;
  }
  #noticias h1 {
    color: #f9b32f;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #noticias .divider {
    border: 1px solid #f9b32f;
    width: 50px;
  }
  #noticias .not {
    padding: 0 30px;
  }
  #noticias .not h2 {
    font-size: 16px;
    color: #454545;
    font-weight: 500;
    margin-top: 60px;
  }
  #noticias .not .divider {
    border: 1px solid #f9b32f;
    width: 35px;
    margin: 15px auto;
  }
  #noticias .not p {
    font-size: 14px;
    color: #454545;
  }
  #noticias .not a {
    background: #f9b32F;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #FFF;
    position: relative;
    top: 20px;
  }
  #noticias .not a:hover {
    background: #f39c11;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #aluno {
    background: url('public/img/alunos.jpg');
    height: 150px;
    background-size: cover;
    background-position: center center;
    margin-top: 70px;
  }
  #aluno h3 {
    font-size: 24px;
    color: #FFF;
    margin: 25px 0;
    margin-top: 30px;
  }
  .botaoaluno a {
    padding: 12px 25px;
    border: 3px solid #FFF;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
  }
  .botaoaluno a:hover {
    background: #FFF;
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .validarcertificado {
    background: url('public/img/validar_certificado.jpg') center;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
  }
  .validarcertificado a {
    padding: 12px 25px;
    border: 3px solid #FFF;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
  }
  .validarcertificado a:hover {
    background: #FFF;
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #cursos {
    padding: 50px 0;
  }
  #cursos h1 {
    color: #f9b32f;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #cursos .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #cursos p {
    color: #454545;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }
  .cursos {
    margin: 30px 0 0px 0;
  }
  .botaocursos a {
    padding: 12px 10px;
    border: 3px solid #f9b32f;
    font-size: 14px;
    color: #f9b32f;
    font-weight: 700;
  }
  .botaocursos a:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .cur {
    height: 230px;
    padding: 0 20px;
  }
  .cur img {
    width: 80px;
  }
  #cursos .cur .divider {
    border: 1px solid #f9b32f;
    width: 35px;
    margin: 15px auto;
  }
  .cur h3 {
    font-size: 16px;
    color: #454545;
    font-weight: 500;
  }
  #cursos .cur:hover .divider {
    width: 60px;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .cur:hover h3 {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #consultoria {
    background: #efefef;
    padding-bottom: 70px;
  }
  #consultoria h1 {
    color: #f9b32f;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  #consultoria .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #consultoria p {
    color: #454545;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }
  .botaoconsultoria a {
    padding: 12px 10px;
    border: 3px solid #f9b32f;
    font-size: 14px;
    color: #f9b32f;
    font-weight: 700;
  }
  .botaoconsultoria a:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  /*.mapa iframe							{width:100%; height:150px;}*/
  #contato h1 {
    color: #f9b32f;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  #contato .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #contato p {
    color: #454545;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }
  .local {
    background: #f9b32f;
    margin: 15px 0 30px 0;
  }
  .local h2 {
    color: #FFF;
    font-size: 28px;
    padding: 20px 0 10px 20px;
    margin: 0px;
  }
  #contato .local p {
    color: #FFF;
    font-size: 14px;
    padding: 0 0 20px 20px;
    margin: 0px;
  }
  .form {
    margin: 0 auto;
  }
  .campo {
    width: 200px;
    margin: 0 auto;
  }
  .campo p {
    color: #454545;
    font-size: 18px;
    margin: 0px;
    font-weight: 400;
  }
  
  .botao {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    color: #f9b32f;
    font-weight: 3400;
    background: #FFF;
    border: 2px solid #f9b32f;
    margin-top: 20px;
  }
  
  .botao:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -khtml-transition: .3s;
    -ms-transition: .3s;
  }
  .padraotitulo h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0px;
	text-align: center;
  }
  
  
  
  
  .padraotitulo .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 30px;
  }
  .padrao h2 {
    color: #f9b32f;
    font-size: 28px;
  }
  .padrao h3 {
    color: #f9b32f;
    font-size: 22px;
  }
  .padrao p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .padrao p i {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
    color: #999
  }
  .padrao .divider {
    margin: 20px 0;
  }
  .padrao .collapsible li {
    background: #FFF;
  }
  .padrao .collapsible-header {
    background: #efefef;
    font-weight: 500;
  }
  .padrao .collapsible-body {
    line-height: 30px;
    margin: 0;
  }
  .padrao .collapsible-body p {
    margin: 0;
  }
  .padraocursos img {
    height: 100px;
    margin: 10px 0;
  }
  .padraocursos h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .padraocursos p {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
  }
  .padraocursos p a:hover {
    color: #f9b32f;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -khtml-transition: .3s;
    -ms-transition: .3s;
  }
  .centralizar {
    margin: 0 auto;
    width: 255px;
    /* height:50px; background:#0F0;*/
  }
  .pagination {
    margin-top: 60px;
  }
  .active {
    background: #f9b32f;
  }
  .footer {
    background: #fff;
    margin-top: 50px;
    padding: 10px;
  }
  .footer p {
    font-size: 12px;
    color: #454545;
  }
}

@media screen and (min-width: 601px) {
  .logo {
    background: #f9b32f;
    width: 80px;
    height: 80px;
    line-height: 127px;
  }
  .logo img {
    width: 85%;
    margin-left: 3px;
  }
  .nav-wrapper {
    background: url('public/img/topo_menu.jpg');
    background-size: contain;
    z-index: 9999;
  }
  .nav-wrapper ul {
    background: #f2f2f2;
  }
  .nav-wrapper ul li {
    border-bottom: 1px solid #ddd;
  }
  .nav-wrapper ul li:hover {
    background: rgba(249, 179, 47, 1);
  }
  .nav-wrapper ul li a {
    color: #454545;
  }
  .nav-wrapper ul li a:hover {
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .nav-wrapper .socialicons {
    float: left;
    line-height: 95px;
    margin-left: 20px;
  }
  .nav-wrapper .socialicons a {
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  .nav-wrapper .socialicons a img {
    width: 36px;
    margin: 0 5px;
    padding: 0px;
  }
  .nav-wrapper .button-collapse {
    color: #454545;
    float: right;
  }
  .nav-wrapper .button-collapse:hover {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .nav-wrapper .button-collapse i span {
    color: #454545;
    font-size: 14px;
    font-family: roboto;
    position: relative;
    top: -10px;
    left: -5px;
  }
  .nav-wrapper .button-collapse:hover i span {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .slides {
    position: relative;
    top: -15px;
  }
  .slides img {
    width: 100%;
  }
  .fundo1 {
    background: url('public/img/fundo1.jpg') center;
    background-size: cover;
    height: 150px;
  }
  .fundo2 {
    background: url('public/img/GREENBELT.jpg') center;
    background-size: cover;
    height: 150px;
  }
  .fundo3 {
    background: url('public/img/fundo2.jpg') center;
    background-size: cover;
    height: 150px;
  }
  .msproject {
    background: url('public/img/project.jpg') center;
    background-size: cover;
    height: 100px;
  }
  .tcursos {
    background: url('public/img/cursos.jpg') center;
    background-size: cover;
    height: 100px;
  }
  #sobre {
    background: url('public/img/sobre.jpg') center;
    background-size: cover;
    margin-top: -15px;
  }
  .sobre {
    margin: 0 auto;
    padding: 40px 0;
  }
  .sobre img {
    height: 60px;
    margin-top: 50%;
  }
  .sobre h1 {
    font-size: 22px;
    font-weight: 700;
  }
  .sobre p {
    text-align: justify;
  }
  .sobre a .botao {
    float: left;
    background: #f9b32f;
    text-align: center;
    width: 150px;
    padding: 7px;
    color: #FFF;
    font-weight: 900;
    font-size: 16px;
    margin: 10px 0;
  }
  .sobre a .botao:hover {
    background: #f39c11;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #noticias {
    padding: 50px 0;
  }
  #noticias h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #noticias .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #noticias .not {
    padding: 0 30px;
  }
  #noticias .not h2 {
    font-size: 16px;
    color: #454545;
    font-weight: 500;
  }
  #noticias .not .divider {
    border: 1px solid #f9b32f;
    width: 35px;
    margin: 15px auto;
  }
  #noticias .not p {
    font-size: 14px;
    color: #454545;
  }
  #noticias .not a {
    background: #f9b32F;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #FFF;
    position: relative;
    top: 20px;
  }
  #noticias .not a:hover {
    background: #f39c11;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #aluno {
    background: url('public/img/alunos.jpg');
    height: 150px;
    background-size: cover;
    background-position: center center;
    margin-top: 70px;
  }
  #aluno h3 {
    font-size: 28px;
    color: #FFF;
    margin: 25px 0;
    margin-top: 30px;
  }
  .botaoaluno a {
    padding: 12px 40px;
    border: 3px solid #FFF;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
  }
  .botaoaluno a:hover {
    background: #FFF;
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .validarcertificado {
    background: url('public/img/validar_certificado.jpg') center;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
  }
  .validarcertificado a {
    padding: 12px 40px;
    border: 3px solid #FFF;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
  }
  .validarcertificado a:hover {
    background: #FFF;
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #cursos {
    padding: 50px 0;
  }
  #cursos h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #cursos .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #cursos p {
    color: #454545;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }
  .cursos {
    margin: 30px 0 0px 0;
  }
  .botaocursos a {
    padding: 12px 40px;
    border: 3px solid #f9b32f;
    font-size: 18px;
    color: #f9b32f;
    font-weight: 700;
  }
  .botaocursos a:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .cur {
    height: 250px;
    padding: 0 50px;
  }
  .cur img {
    width: 90px;
  }
  #cursos .cur .divider {
    border: 1px solid #f9b32f;
    width: 35px;
    margin: 15px auto;
  }
  .cur h3 {
    font-size: 16px;
    color: #454545;
    font-weight: 500;
  }
  #cursos .cur:hover .divider {
    width: 60px;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  .cur:hover h3 {
    color: #f9b32f;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  #consultoria {
    background: #efefef;
    padding-bottom: 70px;
  }
  #consultoria h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  #consultoria .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #consultoria p {
    color: #454545;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
  }
  .botaoconsultoria a {
    padding: 12px 40px;
    border: 3px solid #f9b32f;
    font-size: 18px;
    color: #f9b32f;
    font-weight: 700;
  }
  .botaoconsultoria a:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -webkit-transition: .3s;
    -mos-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -html-transition: .3s;
  }
  /*.mapa iframe							{width:100%; height:250px; margin-top:30px;}*/
  #contato h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  #contato .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 25px;
  }
  #contato p {
    color: #454545;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
  }
  .local {
    background: #f9b32f;
    margin: 30px 0 50px 0;
  }
  .local h2 {
    color: #FFF;
    font-size: 32px;
    padding: 25px 0 10px 25px;
    margin: 0px;
  }
  #contato .local p {
    color: #FFF;
    font-size: 16px;
    padding: 0 0 25px 25px;
    margin: 0px;
  }
  .form {
    margin: 0 auto;
  }
  .campo {
    width: 450px;
    margin: 0 auto;
  }
  .campo p {
    color: #454545;
    font-size: 18px;
    margin: 0px;
    font-weight: 400;
  }
  
  .botao {
    width: 170px;
    padding: 10px;
    font-size: 18px;
    color: #f9b32f;
    font-weight: 3400;
    background: #FFF;
    border: 2px solid #f9b32f;
    margin-top: 20px;
  }
  .botao:hover {
    background: #f9b32f;
    color: #FFF;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -khtml-transition: .3s;
    -ms-transition: .3s;
  }
  .padraotitulo h1 {
    color: #f9b32f;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .padraotitulo .divider {
    border: 1px solid #f9b32f;
    width: 50px;
    margin-bottom: 30px;
  }
  .padrao h2 {
    color: #f9b32f;
    font-size: 28px;
  }
  .padrao h3 {
    color: #f9b32f;
    font-size: 22px;
  }
  .padrao p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .padrao p i {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
    color: #999
  }
  .padrao .collapsible li {
    background: #FFF;
  }
  .padrao .collapsible-header {
    background: #efefef;
    font-weight: 500;
  }
  .padrao .collapsible-body {
    line-height: 30px;
    margin: 0;
  }
  .padrao .collapsible-body p {
    margin: 0;
  }
  .padraocursos img {
    width: 90%;
    margin: 15px 0;
  }
  .padraocursos h3 {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
  }
  .padraocursos p {
    text-aling: left;
    font-size: 14px;
    margin: 5px 0;
  }
  .padraocursos p a:hover {
    color: #f9b32f;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -khtml-transition: .3s;
    -ms-transition: .3s;
  }
  .centralizar {
    margin: 0 auto;
    width: 255px;
    /* height:50px; background:#0F0;*/
  }
  .pagination {
    margin-top: 60px;
  }
  .active {
    background: #f9b32f;
  }
  .footer {
    background: #fff;
    margin-top: 50px;
    padding: 10px;
  }
  .footer p {
    font-size: 12px;
    color: #454545;
  }
}

@media screen and (min-width: 993px) {
  .logo {
    width: 90px;
    height: 90px;
    line-height: 145px;
  }
  .logo img {
    margin-left: 5px;
  }
  .nav-wrapper ul {
    float: left;
    background: rgba(0, 0, 0, 0);
  }
  .nav-wrapper ul li {
    float: left;
    margin: 3px 0px 0px 0px;
  }
  .nav-wrapper ul li:hover {
    background: rgba(0, 0, 0, 0);
  }
  .nav-wrapper ul li a {
    font-size: 14px;
    line-height: 14px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 12px 5px;
  }
  .nav-wrapper ul li a:hover {
    color: #f9b32f;
    border: 1px solid rgba(249, 179, 47, 1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
  }
  .nav-wrapper .socialicons {
    margin-left: 20px;
  }
  .slides {
    top: -30px;
  }
  .fundo1,
  .fundo2,
  .fundo3,
  .msproject,
  .tcursos {
    height: 200px;
  }
  #sobre {
    margin-top: -30px;
  }
  .sobre {
    padding: 60px 0;
  }
  .sobre img {
    height: 100px;
    margin-top: calc(50% - 50px);
    margin-top: -o-calc(50% - 50px);
    margin-top: -moz-calc(50% - 50px);
    margin-top: -webkit-calc(50% - 50px);
    margin-top: -ms-calc(50% - 50px);
    margin-top: -khtml-calc(50% - 50px);
  }
  .sobre h1 {
    font-size: 28px;
  }
  .sobre a .botao {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    margin: 15px 0;
  }
  #noticias h1 {
    font-size: 42px;
  }
  #noticias .divider {
    width: 65px;
  }
  #noticias .not h2 {
    font-size: 18px;
  }
  #noticias .not p {
    font-size: 14px;
    color: #454545;
  }
  #aluno {
    height: 350px;
  }
  #aluno h3 {
    margin-top: 130px;
  }
  .validarcertificado {
    padding: 65px 0;
  }
  .validarcertificado a {
    padding: 15px 50px;
    font-size: 18px;
  }
  #cursos h1 {
    font-size: 42px;
  }
  #cursos .divider {
    width: 65px;
  }
  #cursos p {
    font-size: 18px;
  }
  .botaocursos a {
    padding: 15px 50px;
    font-size: 18px;
  }
  .cur {
    height: 260px;
    padding: 0 30px;
  }
  .cur h3 {
    font-size: 18px;
  }
  .mapa iframe {
    width: 100%;
    height: 350px;
  }
  #contato h1 {
    font-size: 42px;
  }
  #contato .divider {
    width: 65px;
  }
  #contato p {
    font-size: 18px;
  }
  .campo {
    width: 750px;
  }
  
  .pagination {
    margin-top: 100px;
  }
}


  .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                background: url(public/img/b21.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb21 div {
                background-position: -5px -5px;
            }

            .jssorb21 div:hover, .jssorb21 .av:hover {
                background-position: -35px -5px;
            }
     
            .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                background: url(public/img/b21.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb21 div {
                background-position: -5px -5px;
            }

            .jssorb21 div:hover, .jssorb21 .av:hover {
                background-position: -35px -5px;
            }

            .jssorb21 .av {
                background-position: -65px -5px;
            }

            .jssorb21 .dn, .jssorb21 .dn:hover {
                background-position: -95px -5px;
            }
        
            .jssorb21 .av {
                background-position: -65px -5px;
            }

            .jssorb21 .dn, .jssorb21 .dn:hover {
                background-position: -95px -5px;
            }  
            
  
#usu {
	color: black;
	font-size: 20px;
}

#usuL {
	color:#fff;
	font-size: 30px;
	text-align: center;
}

#pass {
	width: 150px;
	padding-right: 20px;
}

fieldset {
	width: 50%;
	margin: 0px auto;
	background-color: #f39c11;
}


.login{
	color:transparent;
}

#conteudo{
	width:750px;
	height: 120px;
}

p {margin: 20px}

select.basic {
  width: 200px;
  height: 35px;
}
select.simple {
  background: #f5f5f5;
  border: 0;
}


#tudo1 {
	position:relative;
	width: 200px;
	height: 200px;
	background-color: #f39c11;
	float: left;
}
#tudo2 {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
}


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #363636;
    color: #0089ec;
    font-family: arial;
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: white;

}

input[type=submit]{
    background-color: #0089ec;
    color: black;
}

div#corpo-form{
    /*background-color: red;*/
    width: 420px;
    margin: 50px auto 0px auto;
}

div#corpo-form h1{
    text-align: center;
    text-decoration: none;
}

#principal li {
   display:inline;
   float:left;
} 

#principal li {
   display:inline;
   float:left;
   width:220px;
   background-color:#f5f7f9;
   padding:5px;
   margin:10px;
   text-align: center;
   border-right: #a5a7aa solid 1px;
   border-bottom: #a5a7aa solid 1px;
} 

h3{
    color: #0089ec;
    font-family: tahoma;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    width: 750px;
}

td{
    border: 3px solid #505050;
    padding: 10px;
}

h5{
   margin-left: 200px; 
}

.tituloNome{
    background-color: #505050;
    color: #0089ec;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: tahoma;
}

.tituloNome2{
    background-color: #505050;
    color: #0089ec;
    font-weight: bold;
    font-size: 25px;
    font-family: tahoma;
}

.titulo1{
    background-color: #505050;
    color: #FFF;
    font-family: tahoma;
}

.titulo2{
    color: #FFF;
    font-family: tahoma;
}

.resposta1{
    background-color: #505050;
    font-family: tahoma;
    color: #FFF;
    
}

.resposta2{
    font-family: tahoma;
    color: #FFF;
    
}

img{
    padding-top: 50px;
    padding-left: 50px;    
}

.conteudo{
    display: table;
}

.imagem{
    display: table-cell;
    float: left;
}

.tabela{
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-left:  20px;
}

.tabela2{
    width: 955px;
}

.tabela3{
    width: 500px;
}

.sinopse{
    padding-left: 50px;
    margin-top: 400px;
    
}

.trailer{
    padding-left: 50px;
    margin-top: 50px;
}

iframe{
    width: 500px;
    height: 400px;
}

.tableAlterar{
    width: 500px;
    margin-left: 260px;
    border: 4px;
    border-color: black;
}

.botaoAlterar, .botaoExcluir{
    width: 200px;
    
}

.tintulo{
  margin-left: 250px;
}

.tintulo2{
  margin-left: 300px;
}

.td1{
    background-color: #505050;
    color: #0089ec;
    font-weight: bold;
    font-size: 25px;
    font-family: tahoma;
}

.td2{
    color: #FFF;
    font-family: tahoma;
}

.fundo-cine{
    margin-left: 100px;
}

.simples-formulario-ajax{
    margin-top: 132px;
}