{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home">
    {% block menu %}    {{ include('Componentes/menuCRUD.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/style.css" />
    
    
    <div>
        <h1 class="tintulo">Relatório de Filmes</h1>
        <table class="tableAlterar" >
            <thead><td class="td1">Filme</td><td class="td1">Ações</td></thead>
            {%for filme in filmes%}
            <tr>   
            <td class="td2">
             {{filme.nome}}   
            </td>
            <td>
                
                <a href="/alterandofilmes/?id={{filme.id}}"><button  class="botaoAlterar">ALTERAR</button></a>
                
                
                <a href="/excluindofilmes/?id={{filme.id}}"><button  class="botaoExcluir">EXCLUIR</button></a>
                
            </td>    
            </tr>
            {% endfor %}
        </table>    
    </div>
    
    
{% block footer %} {{ include('Componentes/footer.twig') }}
{% endblock %}
<script src="../../public/js/voltarTopo.js" type="text/javascript"></script>


