{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home" style="background: rgb(36, 36, 36)">
    {% block menu %}    {{ include('Componentes/menuCRUD.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />




    <div id="contentbox">     
        <div class="conteudo">
            <div class="imagem">
                <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}">
            </div>
            <div class="tabela">
                <table class="tabela1">
                   
                    <tbody> 
                    <form method="POST" action="/alterarfilmes/alterando" enctype="multipart/form-data">
                        <tr><td class="titulo1">Nome:</td><td class="resposta2"><input type="text" name="nome" placeholder="{{filme.nome}}"></td></tr>
                        <tr><td class="titulo2">Gênero:</td><td class="resposta2"><input type="text" name="genero" placeholder="{{filme.genero}}"></td></tr>
                        <tr><td class="titulo1">Elenco:</td><td class="resposta1"><input type="text" name="elenco" placeholder="{{filme.elenco}}"></td></tr>
                        <tr><td class="titulo2">Nacionalidade:</td><td class="resposta2"><input type="text" name="nacionalidade" placeholder="{{filme.nacionalidade}}"></td></tr>
                        <tr><td class="titulo1">Direção:</td><td class="resposta1"><input type="text" name="direcao" placeholder="{{filme.direcao}}"></td></tr>
                        <tr><td class="titulo2">Data de Lançamento:</td><td class="resposta2"><input type="text" name="dataLancamento" placeholder="{{filme.dataLancamento}}"></td></tr>
                        <tr><td class="titulo1">Sinopse:</td><td class="resposta1"><input type="text" name="sinopse" placeholder="{{filme.sinopse}}"></td></tr>
                        <tr><td class="titulo2">Trailer:</td><td class="resposta2"><input type="text" name="trailer" placeholder="{{filme.trailer}}"></td></tr>
                        <tr><td class="titulo1">Ano:</td><td class="resposta1"><input type="text" name="ano" placeholder="{{filme.ano}}"></td></tr>
                        <tr><td class="titulo2">Mes:</td><td class="resposta2"><input type="text" name="mes" placeholder="{{filme.mes}}"></td></tr>
                        <tr><td class="titulo1">Dia:</td><td class="resposta1"><input type="text" name="dia" placeholder="{{filme.dia}}"></td></tr>
                        <tr><td class="titulo2">Buscar Imagem:</td><td class="resposta2"><input type="file" required name="arquivo"></td></tr>
                        <tr><td class="titulo1">Salvar Filme:</td><td class="resposta1"><input type="submit" value="SALVAR"></td></tr>
                        <input type="hidden" name="id" value="{{filme.id}}">
                        
                        
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>








    {% block footer %} {{ include('Componentes/footer.twig') }}
    {% endblock %}
    <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

