{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home">
    {% block menu %}    {{ include('Componentes/menuCRUD.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/style.css" />
    
    <h1 class="tintulo">Cadastro de Filmes</h1>
    <div id="corpo-form">
     <form method="POST" action="/cadastrarfilmes/cadastrado" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome do Filme">
        <input type="text" name="elenco" placeholder="Elenco">
        <input type="text" name="sinopse" placeholder="Sinopse">
        <input type="text" name="genero" placeholder="Genero">
        <input type="text" name="nacionalidade" placeholder="Nacionalidade">
        <input type="text" name="direcao" placeholder="Direcao">
        <input type="text" name="dataLancamento" placeholder="Data de Lancamento">
        <input type="text" name="trailer" placeholder="trailer">
        <input type="text" name="ano" placeholder="Ano" maxlength="4">
        <input type="text" name="mes" placeholder="Mes" maxlength="2">
        <input type="text" name="dia" placeholder="Dia" maxlength="2">
        <input type="file" required name="arquivo">
        <input type="submit" value="SALVAR">
        
    </form>
    </div>
    
    
{% block footer %} {{ include('Componentes/footer.twig') }}
{% endblock %}
<script src="../../public/js/voltarTopo.js" type="text/javascript"></script>


