{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}


<body id="home">
    {% block menu %}    {{ include('Componentes/menu.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" />
    
    
    <div id="corpo-form">
    <h1>Cadastra Usuario</h1>
    <form method="POST" action="/usercadastrado">
        
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="login" placeholder="Usuario">
        <input type="password" name="senha" placeholder="Senha">
        <input type="password" name="confirmasenha" placeholder="Confirmar Senha">
        <input type="submit" value="CADASTRAR">
        
    </form>
    </div>

    
{% block footer %} {{ include('Componentes/footer.twig') }}
{% endblock %}
<script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

