{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home" style="background: rgb(36, 36, 36)">
    {% block menu %}    {{ include('Componentes/menu.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />




    <div id="contentbox">     
        <div class="conteudo">
            <div class="imagem">
                <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}">
            </div>
            <div class="tabela">
                <table class="tabela1">
                    <tbody> 
                        <tr><td colspan="2" class="tituloNome">{{filme.nome}}</td></tr>
                        <tr><td class="titulo2">Gênero:</td><td class="resposta2">{{filme.genero}}</td></tr>
                        <tr><td class="titulo1">Elenco:</td><td class="resposta1">{{filme.elenco}}</td></tr>
                        <tr><td class="titulo2">Nacionalidade:</td><td class="resposta2">{{filme.nacionalidade}}</td></tr>
                        <tr><td class="titulo1">Direção:</td><td class="resposta1">{{filme.direcao}}</td></tr>
                        <tr><td class="titulo2">Data de Lançamento:</td><td class="resposta2">{{filme.dataLancamento}}</td></tr>

                    </tbody>
                </table>
            </div>
            <div class="sinopse">   
                <table class="tabela2">
                    <tbody> 
                        <tr><td colspan="2" class="tituloNome2">Sinopse e afins</td></tr>
                        <tr><td class="resposta2">{{filme.sinopse}}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="trailer">
                <table class="tabela3">
                    <tbody> 
                        <tr><td colspan="2" class="tituloNome2">Trailer</td></tr>
                    </tbody>
                </table>
                <iframe  src="{{filme.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>    
        </div>
    </div>


    {% block footer %} {{ include('Componentes/footer.twig') }}
    {% endblock %}
    <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

