{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home">
    {% block menu %}    {{ include('Componentes/menuCRUD.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css" />

    <h1 class="tintulo2">Search Movies</h1>
    <div>
    
        <img class="fundo-cine" src="/img/Cinema-iStock.jpg">
        
    </div>


    {% block footer %} {{ include('Componentes/footer.twig') }}
    {% endblock %}
    <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>


