<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Search Movies</title>
        <!-- <link rel="shortcut icon" href="img/favicon.ico"/> -->

        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/bootstrap.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="description" content="Consultoria e treinamento empresarial, visando o melhor para você e para o seu negócio." />
        <meta name="keywords" content="consultoria, treinamento empresarial, empresa, noroeste de minas, Uberlândia, Uberaba, Araguari, Ituiutaba, Frutal, Patrocínio, Patos de Minas, Monte Carmelo, João Pinheiro, Paracatu, Catalão, Caldas Novas, Itumbiara, Rio verde, Jataí, Minas Gerais, Goiás, E-help, help, educação" />
        <meta name="author" content="JhonnpsS" />
        <!-- <meta name="google-site-verification" content="" /> -->
        <meta name="robots" content="index, follow">


        <!-- Rolar a Página -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="js/smoothscroll.js"  type="text/javascript"></script>
    </head>

    <body id="home" style="background: rgb(36, 36, 36)">
        {% block conteudo %}
            {{ include('Componentes/menu.twig') }}


            <a href="#" class="scrollToTop"><i class="mdi-hardware-keyboard-arrow-up"></i></a> 
            <script type="text/javascript" src="js/jssor.js"></script>
            <script type="text/javascript" src="js/jssor.slider.js"></script>
            <script type="text/javascript" src="js/slide.js"></script>        

            <div class="container">

                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 text-primary">Calendário de Filmes 2019</h1>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class= text-primary>Janeiro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 1)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Fevereiro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 2)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Março</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 3)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Abril</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 4)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Maio</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 5)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Junho</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 6)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                   <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Julho</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 7)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Agosto</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 8)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt=""
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Setembro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 9)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Outubro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 10)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Novembro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 11)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    <h3 class=text-primary>Dezembro</h3>
                    {% for filme in filmes %}
                        {% if(filme.mes == 12)%}    
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                                    <h3>{{filme.nome}}</h3>
                                    <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                
            </div>

                <div class="footer black center-align">
                    <p>&copy; 2019. JhonnpsS - Todos os direitos reservados.</p>
                </div>
                <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

            {% endblock %}
    </body>
</html>
