{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home">
    {% block menu %}    {{ include('Componentes/menu.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" />
    
    
    <div id="corpo-form">
    <h1>Login</h1>
    <form class="simples-formulario-ajax" method="POST" action="/logado">
        
        <input type="email" name="login" placeholder="Usuario">
        <input type="password" name="senha" placeholder="Senha">
        <input type="submit" value="ACESSAR">
        <input type="hidden" id="metodo" value="formulario-ajax"
        
    </form>
    </div>
    
    
{% block footer %} {{ include('Componentes/footer.twig') }}
{% endblock %}
<script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

