{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home" style="background: rgb(36, 36, 36">
    {% block menu %}    {{ include('Componentes/menu.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />


    <div id="corpo-form" >
        <h3 class="text-primary font-tahoma">Pesquisar Filmes</h3>
        <form method="POST" action="/pesquisarfilme">

            <input type="text" name="nome" placeholder="Nome do Filme">
            <input type="submit" value="PESQUISAR">

        </form>
    </div>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left mt-4">
        <h3 class= text-primary>Filme</h3>
        {% for filme in filmes %}
              
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="/filme/?id={{filme.id}}" class="d-block mb-4 h-100">
                        <h3>{{filme.nome}}</h3>
                        <img class="img-fluid img-thumbnail" width="200px" heigth="200px" src="{{filme.imagem}}" alt="">
                    </a>
                </div>
            
        {% endfor %}

    </div>

    <hr class="mt-2 mb-5">


    {% block footer %} {{ include('Componentes/footer.twig') }}
    {% endblock %}
    <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

