{% block head %} {{ include('Componentes/head.twig') }}
{% endblock %}
<body id="home" style="background: rgb(36, 36, 36)">
    {% block menu %}    {{ include('Componentes/menu.twig') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />


    <div id="corpo-form">
        <h1>Tudo Sobre Search Movies</h1>
        <p>Search Movies é um site de catálogo de filmes com intuito de ajudar o usuario 
        a encontrar informações sobre o seu filmes da forma mais rápida possivel. Desenvolvido por JhonnpsS
       Interprises.
        
        
       "Os filmes são assim constituídos por uma série de imagens impressas em 
       determinado suporte, alinhadas em sequência, chamadas fotogramas. Quando 
       essas imagens são projetadas de forma rápida e sucessiva, o espectador 
       tem a ilusão de observar movimento. A cintilação entre os fotogramas 
       não é percebida devido a um efeito conhecido como persistência da visão: 
       o olho humano retém uma imagem durante uma fração de segundo após a sua 
       fonte ter saído do campo da visão. O espectador tem assim a ilusão de
       movimento, devido a um efeito psicológico chamado movimento beta. "<p>
    </div>    


    {% block footer %} {{ include('Componentes/footer.twig') }}
    {% endblock %}
    <script src="../../public/js/voltarTopo.js" type="text/javascript"></script>

