	<div class="footer black center-align">
	            <p>&copy; 2019. JhonnpsS - Todos os direitos reservados.</p>
	</div>
    <script src="public/js/jquery-3.3.1.min.js" type="text/javascript" ></script>
    <script src="public/js/funcoes.js" type="text/javascript" ></script>
    <script src="public/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="public/js/jqBootstrapValidation.js"></script>
    <script src="public/js/contact_me.js"></script>
    <script src="public/js/agency.min.js"></script>
</body>
</html>