<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Search Movies</title>
    <link rel="shortcut icon" href="public/img/favicon.ico" />

    <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="public/css/font/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Consultoria e treinamento empresarial, visando o melhor para você e para o seu negócio." />
    <meta name="keywords" content="consultoria, treinamento empresarial, empresa, noroeste de minas, Uberlândia, Uberaba, Araguari, Ituiutaba, Frutal, Patrocínio, Patos de Minas, Monte Carmelo, João Pinheiro, Paracatu, Catalão, Caldas Novas, Itumbiara, Rio verde, Jataí, Minas Gerais, Goiás, E-help, help, educação"
    />
    <!-- <meta name="google-site-verification" content="" /> -->
    <meta name="robots" content="index, follow">
    <!-- Rolar a Página --> 
</head>