<link rel="stylesheet" href="css/style.css" />

<nav>
    <div class="nav-wrapper black lighten-5">
        <div class="row">
            <div class="col s9 m10 l11 right">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"> <span>MENU</span></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/" class="smoothScroll">HOME</a></li>
                    <li><a href="/sobre" class="smoothScroll">SOBRE</a></li>
                    <li><a href="/pesquisarfilme" class="smoothScroll">PESQUISAR FILME</a></li>
                    <li><a href="/login" class="smoothScroll">LOGIN</a></li>
                    
                </ul>

                <ul class="side-nav right" id="mobile-demo">
                    <li><a href="/" class="smoothScroll">HOME</a></li>
                    <li><a href="/sobre" class="smoothScroll">SOBRE</a></li>
                    <li><a href="/pesquisarfilme" class="smoothScroll">PESQUISAR FILME</a></li>
                    <li><a href="/login" class="smoothScroll">LOGIN</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
</nav>
